@import '~ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@font-face {
    font-family: 'argesta_displayregular';
    src: url('assets/font/argestadisplay-regular-webfont.eot');
    src: url('assets/font/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'), url('assets/font/argestadisplay-regular-webfont.woff2') format('woff2'), url('assets/font/argestadisplay-regular-webfont.woff') format('woff'), url('assets/font/argestadisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* :not(i) {
    font-family: 'argesta_displayregular'!important/* Replace with your custom font */
    /* Add !important to overwrite all elements */
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

app-footer {
    background-color: crimson !important;
}

.bg-s3 {
    height: 100px;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-image: url("/assets/section2/banner.jpg");
}

.best-shadow-left {
    background-image: url("assets/bg/best-shadow-left.png");
    position: absolute;
    left: -1px;
    bottom: -15px;
    width: 200px;
    height: 15px;
}

.best-shadow-right {
    background-image: url("assets/bg/best-shadow-right.png");
    position: absolute;
    right: 8px;
    bottom: 10px;
    width: 200px;
    height: 15px;
}


/*footer hidden small*/

@media (max-width: 750px) {
    app-footer,
    .navbar-brand {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .nav-item {
        width: 100%;
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .nav-item .nav-link {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        color: #191a20 !important;
        text-transform: uppercase;
    }
}

.anim {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}

.anim:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: rgb(223, 0, 0);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

#toast-container>div {
    opacity: 1;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
}

.toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
}

.toast-success {
    background-color: #00ca4e !important;
}

.toast-error {
    background-color: #BD362F !important;
}

.toast-info {
    background-color: #2F96B4 !important;
}

.toast-warning {
    background-color: #F89406 !important;
}